/* Mobile and Default style*/
:root{
    --white: #f9f9f9;
    --darkred: darkred;
    --gold: gold;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: red;
	font-family: cursive;
}

main {
		padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

/* Header */
.header {
	background-color: var(--darkred);
	box-shadow: 1px 1px 5px 0px var(--gold);
	position: sticky;
	top: 0;
	width: 100%;
	padding: 15px;
}

/* Logo */

.logo {
	margin-left: -35px;
}

/* Nav menu */
.nav {
	width: 30%;
	height: 17%;
	float: right;
	background-color: var(--darkred);
	overflow: hidden;
	max-height: 0;
	min-height: -20;
/*	transition: max-height .1s;*/
}

.menu a {
	display: block;
	padding: 30px;
	color: var(--white);
}

.menu a:hover {
	background-color: var(--gold);
}

/* Menu Icon */

.hamb {
	cursor: pointer;
	float: right;
	padding: 50px 20px;
}/* Style label tag */

.hamb-line {
	background: var(--white);
	display: block;
	height: 5px;
	position: relative;
	width: 27px;
}/* Style span tag */

.hamb-line::before,
.hamb-line::after{
	background: var(--white);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
/*	transition: all .2s ease-out;*/
	width: 100%;
}

.hamb-line::before {
	top: 10px;
}

.hamb-line::after {
	top: -10px;
}

.side-menu {
	display: none;
}/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
	max-height: 11em;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top: 0;
}

/* Main content */

article h1 {
	color: gold;
	text-align: center;
	font-size: 50px;
}

article .desc-title {
	font-size: 30px;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container > div {
	background-color: #f1f1f1;
  	margin: 10px;
  	line-height: auto;
}

.social-media-links img {
	width: 25px;
	height: auto;
}

.flex-container > .header-desc {
	order: 1;
}

.flex-container > .rabbit {
	order: 2;
	align-self: center;
	text-align: center;
}

.flex-container > .social-media-links {
	order: 3;
	align-self: center;
	text-align: center;
	background-color: transparent;
}

.header-desc {
	border: 3px solid gold;
	padding: 20px;
}


/* Responsiveness - Desktop */
@media (min-width: 768px) {
	.nav {
		max-height: none;
		top: 0;
		position: relative;
		float: left;
		width: fit-content;
		background-color: transparent;
	}

	.menu li {
		float: left;
	}

	.menu a:hover {
		background-color: transparent;
		color: var(--gold);
	}

	.hamb {
		display: none;
	}

.flex-container {
	flex-direction: row;
	justify-content: center;
}

.flex-container > div {
  	width: 500px;
}

.flex-container > .header-desc, .flex-container > .social-media-links {
	order: 1;
}

input[type=text] {
  width: 25em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



