/* Mobile and Default style*/
:root {
    --white: #f9f9f9;
    --darkred: darkred;
    --gold: gold;
} /* variables*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: red;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

/* Header */
.header {
	background-color: var(--darkred);
	box-shadow: 1px 1px 5px 0px var(--gold);
	position: sticky;
	top: 0;
	width: 100%;
	padding: 15px;
}

/* Logo */

.logo {
	margin-left: -35px;
}

/* Nav menu */
.nav {
	float: right;
	background-color: var(--darkred);
	overflow: hidden;
	max-height: 0;
}

.menu a {
	display: block;
	padding: 5px;
	color: var(--white);
}

.menu a:hover {
	background-color: var(--gold);
}

/* Menu Icon */

.hamb {
	cursor: pointer;
	float: right;
	padding: 50px 20px;
}/* Style label tag */

.hamb-line {
	background: var(--white);
	display: block;
	height: 5px;
	position: relative;
	width: 27px;
}/* Style span tag */

.hamb-line::before,
.hamb-line::after{
	background: var(--white);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
/*	transition: all .2s ease-out;*/
	width: 100%;
}

.hamb-line::before {
	top: 10px;
}

.hamb-line::after {
	top: -10px;
}

.side-menu {
	display: none;
}/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
	max-height:10em;
    border: 1px solid gold;
    margin-left: 35%;
    margin-top: -10%;
    padding: 10px;
	position: absolute;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top: 0;
}

/* Index Main content */

article h1 {
	color: gold;
	text-align: center;
	font-size: 45px;
	font-family: cursive;
}

article h2 {
	color: gold;
	text-align: center;
	font-size: 25px;
}/* headings */

article .desc-title {
	font-size: 30px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.flex-container > div {
  	margin: 10px;
  	line-height: auto;
}

.social-media-links img {
	width: 25px;
	height: auto;
}

.header-desc {
	order: 1;
	border: 3px solid gold;
	padding: 20px;
	background-color: #f1f1f1;
}

.rabbit {
	order: 2;
	align-self: center;
	text-align: center;
}

.rabbit img {
	width: 300px;
}

.social-media-links {
	order: 3;
	align-self: center;
	text-align: center;
}

.column-1 {
	order: 4;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

/* Zodiac Page */

.grid-container {
	display: grid;
	width: auto;
	grid-template-columns: auto;
	margin: auto;
	grid-gap: 20px;
}

.grid-item {
	background-color: white;
	border: 3px solid gold;
	padding: 10px;
}

.horoscope {
	text-align: center;
	margin: 20px 0 20px 0;
}

.horoscope img {
	width: 90%;
}

/* Traditions Page */
.trad-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 20px auto 50px auto;
	justify-content: center;
	width: auto;
	text-align: center;
	column-gap: 10px;
	row-gap: 20px;
}

.trad-links > div {
	border: 3px solid gold;
	border-radius: 50%;
	margin: auto;
	width: 150px;
	height: 150px;
	padding: 10px;
	color: gold;
	font-weight: bold;
	font-size: 30px;
}

.lion, .fireworks, .red-packets, .decor {
    display: flex;
    margin: auto;
    width: auto;
    align-items: center;
    justify-content: center;
}

.lion {
	background-image: url("lion-dance.png");
}

.fireworks {
	background-image: url("fireworks.png");
}

.red-packets {
	background-image: url("red-packets.png");
}

.decor {
	background-image: url("decor.png");
}

.lion-dancing, .fireworks-about, .red-packets-about, .decor-about {
	border: 3px solid gold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 350px;
}

	.lion-dancing > div, .fireworks-about > div, .red-packets-about > div, .decor-about > div {
		margin-top: 5px;
		padding: 10px;
	}

/* Responsiveness - Desktop */
	@media (min-width: 768px) {
		.nav {
			margin-top: 2%;
			margin-right: 5%;
			background-color: var(--darkred);
			min-height: 40;
		}

		.menu li {
			margin-left: 5em;
			float: left;
		}

		.menu a:hover {
			background-color: transparent;
			color: var(--gold);
		}

		.hamb {
			display: none;
		}

		.flex-container {
			flex-direction: row;
			justify-content: space-evenly;
			margin-top: 50px;
			max-width: 100%;
		}

			.flex-container > .column-1 {
				width: 40%;
				gap: 5em;
				order: 4;
			}

		.header-desc {
			order: 1;
		}

		.social-media-links img {
			order: 3;
			width: 70px;
		}

		.rabbit img {
			width: 500px;
		}

		.rabbit {
			order: 4;
			border: 3px solid gold;
			display: inline-flex;
		}

		.grid-container {
			grid-template-columns: auto auto auto;
			grid-gap: 10px;
			justify-content: center;
		}

		.grid-item {
			width: 500px;
		}

		.horoscope img {
			width: 700px;
		}
	}
